/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #11165f; /* Dark red background */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    header {
        margin-bottom: 20px;
    }
    
    footer {
        margin-top: 20px;
    }
}

main {
    padding: 0;
    text-align: center;
}

#hero {
    position: relative;
    width: 100%;
    height: auto;
}

#hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.superpuesto1, .superpuesto2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85); /* Translucent white */
    padding: 20px;
    border-radius: 8px;
    color: black;
}

.superpuesto1 {
    top: 15%;
    left: 5%;
    width: 25%;
    text-align: left;
}

.superpuesto2 {
    top: 60%;
    right: 5%;
    width: 25%;
    text-align: left;
}

#data h2, #weather h2 {
    background-color: #267e99; /* Blue-green */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
    font-size: 1rem;
}

footer {
    background-color: #1f0f7b; /* Dark blue */
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* Add this line */
}

footer p {
    margin: 5px 0;
}

#lastModified {
    font-size: 14px;
    color: #FFD700; /* Yellow color for the last modification text */
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
    img {
        width: 100%;
        height: auto;
    }
}